* {
  box-sizing: border-box;
}
p {
  font-size: 16px;
}
html,
body {
  margin: 0;
  height: 100%;
}
.wrap {
  margin: 20px;
}
#text {
  color: #f25e92;
}
.drag {
  background-color: #f25e92;
  border: dashed 6px #bf3465;
}
.drag #text {
  color: #bf3465;
}
.drag > .wrap {
  margin: 14px;
}
#quote {
  color: #f00;
}
