*
  box-sizing: border-box
p
  font-size: 16px

html, body
  margin: 0
  height: 100%

pink = #F25E92
purple = #BF3465

.wrap
  margin: 20px

#text
  color: pink

.drag
  background-color: pink
  border: dashed 6px purple
  #text
    color: purple

.drag > .wrap
  margin: 14px


#quote
  color: red
